
Lab_3_meldED/lab2/sim/run.do
Lab_3_meldED/lab2/sim/sources.txt
Lab_3_meldED/lab2/sim/transcript
Lab_3_meldED/lab2/sim/vsim.wlf
Lab_3_meldED/lab2/sim/wave.do
Lab_3_meldED/lab2/sim/work/_info
Lab_3_meldED/lab2/sim/work/_vmake
Lab_3_meldED/lab2/sim/work/instr_register/_primary.dat
Lab_3_meldED/lab2/sim/work/instr_register/_primary.dbs
Lab_3_meldED/lab2/sim/work/instr_register/_primary.vhd
Lab_3_meldED/lab2/sim/work/instr_register/verilog.asm
Lab_3_meldED/lab2/sim/work/instr_register/verilog.rw
Lab_3_meldED/lab2/sim/work/instr_register_pkg/_primary.dat
Lab_3_meldED/lab2/sim/work/instr_register_pkg/_primary.vhd
Lab_3_meldED/lab2/sim/work/instr_register_pkg/_primary.dbs
Lab_3_meldED/lab2/sim/work/instr_register_pkg/verilog.asm
Lab_3_meldED/lab2/sim/work/instr_register_pkg/verilog.rw
Lab_3_meldED/lab2/sim/work/instr_register_test/_primary.dat
Lab_3_meldED/lab2/sim/work/instr_register_test/_primary.dbs
Lab_3_meldED/lab2/sim/work/instr_register_test/_primary.vhd
Lab_3_meldED/lab2/sim/work/instr_register_test/verilog.asm
Lab_3_meldED/lab2/sim/work/instr_register_test/verilog.rw
Lab_3_meldED/lab2/sim/work/tb_ifc/_primary.dat
Lab_3_meldED/lab2/sim/work/tb_ifc/_primary.dbs
Lab_3_meldED/lab2/sim/work/tb_ifc/_primary.vhd
Lab_3_meldED/lab2/sim/work/tb_ifc/verilog.asm
Lab_3_meldED/lab2/sim/work/tb_ifc/verilog.rw
Lab_3_meldED/lab2/sim/work/top/_primary.dat
Lab_3_meldED/lab2/sim/work/top/_primary.dbs
Lab_3_meldED/lab2/sim/work/top/_primary.vhd
Lab_3_meldED/lab2/sim/work/top/verilog.asm
Lab_3_meldED/lab2/sim/work/top/verilog.rw
